@use "bootstrap/scss/bootstrap";

@import url("admin-lte/dist/css/adminlte.css");
@import url("overlayscrollbars/styles/overlayscrollbars.css");
@import url("bootstrap-icons/font/bootstrap-icons.css");